<ion-header>
  <ion-toolbar>
    <ion-title>Reset your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="onSubmit()">
    <ion-item>
      <ion-label position="stacked">Email address</ion-label>
      <ion-input type="email_address" [(ngModel)]="email_address" name="email_address" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirm Password</ion-label>
      <ion-input type="password" [(ngModel)]="passwordConfirmation" name="password_confirmation" required></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Reset Password</ion-button>
  </form>
  <p *ngIf="message">{{ message }}</p>

</ion-content>
