.padding {
  padding: 5%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 250px;
  position: relative;
}

.logo ion-icon {
  position: absolute;
  font-size: 9em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

ion-accordion {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
  --background: #000000;
}
ion-accordion ion-item{
--color: black;
}



