<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Maps
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>

    <ion-label *ngIf="!isAdmin||isAdmin" class="user-points" slot="end">
      <span class="points-text">{{ userPoints }}</span>
    </ion-label>
    <ion-icon name="star-half-outline" class="trophy" slot="end"></ion-icon>

  </ion-toolbar>
</ion-header>

<ion-content id="map">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="map"></div>

</ion-content>
