ion-content {
  --ion-background-color: white;
}

#map {
  height: 100%;
  width: 100%;
  position:relative;
}






.points-text {
  font-weight: bold;
  font-size: 20px;

}

.trophy{
  color: yellow!important;
  font-size: 30px;

}
