<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Change your password</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Current password</ion-label>
      <ion-input type="password" formControlName="current_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">New password</ion-label>
      <ion-input type="password" formControlName="new_password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirm</ion-label>
      <ion-input type="password" formControlName="confirm_password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="form.invalid">
      Update
    </ion-button>
  </form>
</ion-content>
