<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forum
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Welcome Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="filterPosts()" placeholder="Search posts...">
  </ion-searchbar>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let post of filteredPosts">
        <ion-label>
          <h2>{{ post.title }}</h2>
          <p>{{ post.content | slice: 0:10 }}...</p>
          <img *ngIf="post.photo" [src]="post.photo" alt="Post Image" />
        </ion-label>
        <ion-button (click)="goToDetail(post.id)" slot="end">Read more</ion-button>

        <!-- Afficher les boutons si l'utilisateur est l'auteur du post ou un admin/modérateur -->
        <div *ngIf="post.userId === userId || hasEditPermissions">
          <ion-button (click)="presentUpdatePostPopup(post)"><ion-icon name="create-outline"></ion-icon></ion-button>
          <ion-button (click)="deletePost(post)"><ion-icon name="trash"></ion-icon></ion-button>
        </div>
      </ion-item>


    </ion-list>

    <div>
    </div>
  </ion-content>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-button (click)="takePhoto()">
      <ion-icon name="camera-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="selectImage()">
      <ion-icon name="images-outline"></ion-icon>
    </ion-button>
  </ion-fab>
  <ion-button class="floating-button" (click)="presentCreatePostPopup()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-button>
