<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Forum
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
      <ion-accordion *ngFor="let forum of forums">
        <ion-item slot="header">
          <ion-label>
            <h2>{{ forum.title }}</h2>
            <p>{{ forum.description }}</p>
          </ion-label>
        </ion-item>

        <div class="ion-padding" slot="content">
          <!-- Always visible -->
          <ion-button (click)="addArticle(forum.id)">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>

          <ion-button (click)="goToForumFeedDetail(forum.id)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>

          <!-- Button for only admin/modo -->
          <div *ngIf="userRole === 'admin' || userRole === 'moderator'">
            <ion-button *ngIf="userRole === 'admin'" (click)="updateFeed(forum)">
              <ion-icon slot="start" name="create-outline"></ion-icon>
            </ion-button>

            <ion-button (click)="deleteFeed(forum.id)" color="danger">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-list>

  <div *ngIf="userRole === 'admin' || userRole === 'moderator'" class="ion-padding">
    <ion-button (click)="createFeed()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>

<!-- <div *ngIf="expandedFeeds[forum.id]">
          <ion-card *ngFor="let article of articlesByFeed[forum.id]">
            <ion-card-header>
              <ion-card-title>{{ article.title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <p>{{ article.forum_content }}</p>
&lt;!&ndash;
              <img *ngIf="article.media" [src]="apiUrl + '/' + article.media" alt="media" style="width: 100%;" />
&ndash;&gt;
              <small *ngIf="article.user">Par {{ article.user.name }}</small>
            </ion-card-content>
          </ion-card>
        </div>-->
