ion-menu {
  --background: #ffffff;
  --width: 250px;
  box-shadow: 2px 0 6px rgba(0, 0, 0, 0.1);
}

.menu-header-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
}

.header-content ion-icon {
  color: var(--ion-color-primary);
  margin-bottom: 10px;
}

.header-content h2 {
  font-size: 1.2rem;
  margin: 5px 0;
  color: #0f0f0f;
}

.logout-btn {
  margin: 20px;
}


* {
  font-family: lato;
}


ion-tab-bar.hide-tabs {
  display: none !important;
}
ion-list ion-item {
  --background: #030101;
  --color: #f3eeee;
  font-size: 1rem;
  border-bottom: 1px solid #eaeaea;
}

ion-list ion-item ion-icon {
  color: #4a90e2;
}

ion-list ion-item:hover {
  --background: #eaeaea;
}


.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.logo ion-icon {
  font-size: 80px;
  color: #3c3c3c;
}







// .menu-header-bg {
//   height: 180 px;
//   width: 350px;
//   background: blue;
//   background: linear-gradient(white, blue, white, blue);
//   box-shadow: 0px 1px 10px rgba(98, 140, 255, 0.5);
//   border-radius: 10px 10px 10px 10px;
//   transform: rotate(-15deg);
//   margin-top: -50px;
//   margin-left: -18px;
//   margin-bottom: 60px;
// }

// .header-content {
//   position: absolute;
//   top: 30px;
//   left: 15px;
//   display: flex;
//   align-items: center;

//   ion-icon {
//     width: 80px;
//     height: 80px;
//     border-radius: 50%;
//     border: 7px solid gray;
//     margin-right: 14px;
//   }

//   h2 {
//     font-weight: 300;
//     color: white;
//   }

//   p {
//     font-size: 12px;
//     color: white;
//     font-weight: 100;
//     letter-spacing: 0.4px;
//   }

// }

// .logout-btn {
//   margin: 20px;
// }
