<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header-description">
    <h1>Organize Your Administrative Tasks</h1>
    <p>
      Track, complete, and access helpful resources for each task. Make administration simple with this interactive
      checklist.
    </p>
  </div>

  <ion-list>
    <ion-item *ngFor="let task of tasks" class="task-item">
      <ion-checkbox [(ngModel)]="task.completed" (ionChange)="toggleTaskCompletion(task.id,$event.detail.checked)"
        slot="start"></ion-checkbox>
      <ion-label>
        <h2>{{ task.name }}</h2>
        <p class="task-description">{{ task.description }}</p>
      </ion-label>
      <ion-button color="secondary" (click)="voirDetails(task)" size="small">Details</ion-button>
      <ion-button color="primary" (click)="showGuide(task)" size="small">Guide</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
