<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Checklist</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Your administrative tasks</p>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox slot="start" [(ngModel)]="task.completed" (ionChange)="toggleComplete(task)"></ion-checkbox>
      <ion-label>
        <h2>{{ task.name }}</h2>
        <p>{{ task.description }}</p>
      </ion-label>
      <ion-button color="secondary" (click)="voirDetails(task)">Details</ion-button>
      <ion-button color="primary" (click)="showGuide(task)">Guide</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
