<ion-header>
  <ion-toolbar>
    <ion-title>{{ post?.title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="post">
    <h1>{{ post.title }}</h1>
    <div>
      <p>{{ post.content }}</p>
    </div>
    <p><strong>Write by :</strong> {{ post.author }}</p>
    <p><strong>Published :</strong> {{ post.created_at }}</p><br>
    <h2>Comments</h2>
    <ion-list>
      <ion-item *ngFor="let comment of post.comments">
        <ion-label>
          <h3>{{ comment.author }}</h3>
          <p>{{ comment.content }}</p>
          <small>{{ comment.created_at }}</small>
        </ion-label>
        <div>
          <ion-button (click)="deleteComment(comment)" slot="end">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

  </div>

  <form [formGroup]="commentForm" (ngSubmit)="addComment()">
    <ion-item>
      <ion-label position="floating">Add comments</ion-label>
      <ion-input formControlName="content"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">send</ion-button>
  </form>
</ion-content>
